@model List<SistemaReservaCitas.Models.Especialista>
@{
    ViewBag.Title = "Index";
}



<h1>Elegir Dia</h1>

<br />
<table id="DatatableP" class="table">
    <thead>
        <tr>
            <th>Especialidad</th>
            <th>NOMBRE Y APELLIDO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td>@(m.TipoEspecialista.nombre)</td>
            <td>@(m.nombre), @(m.apellido)</td>
            
            <td style="align-content:center">

                <a href="~/Citas/ElegirDia/@m.especialista_id" class="btn btn-primary">Elegir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
